.App {
  text-align: center;
}

.app-header {
  background-color: teal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  align-items: center;
}

.header-text-align{ 
 margin-top: 0.8em;
 color: #fff;
}
.App-body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.app-footer {
  height: 5em;
  background-color: teal;
  color: #fff;
  padding-top: 2em;
}

.App-link {
  color: #61dafb;
  padding: 1em;
}
